<p>categories works!</p>

<!-- <div>
  <label for="name">Category title:</label>
  <input id="name" [(ngModel)]="category.title" placeholder="Title">
</div>

<h2>{{category.title | uppercase}}</h2>
 -->

<!-- <div *ngIf="selectedCategory">
  <h2>{{selectedCategory.title | uppercase}} Details</h2>
  <div>id: {{selectedCategory.id}}</div>
  <div>
    <label for="hero-name">Category title: </label>
    <input id="hero-name" [(ngModel)]="selectedCategory.title" placeholder="title">
  </div>
</div> -->


<h2>Categories</h2>
<ul class="categories">
  <li *ngFor="let category of categories">
    <button [class.selected]="category === selectedCategory" type="button" (click)="onSelect(category)">
      <span class="badge">{{category.id}}</span>
      <span class="name">{{category.title}}</span>
    </button>
  </li>
</ul>

<app-category-detail [category]="selectedCategory"></app-category-detail>
