<p>category-form works!</p>
<div class="container">  
    <h1>Add Category</h1>  
   
      <div class="form-group">  
        <label for="title">Title</label>  
        <input type="text" class="form-control" id="title" name="title" required [(ngModel)]="category.title">  
      </div>  
      <div class="form-group">  
        <label for="slug">Slug</label>  
        <input type="text" class="form-control" id="slug" name="slug" [(ngModel)]="category.slug">  
      </div>  
      <div class="form-group">  
        <label for="description">Description</label>  
        <input type="text" class="form-control" id="description" name="description" [(ngModel)]="category.description">  
      </div>  
      <div class="form-group">  
        <label for="imageUrl">imageUrl</label>  
        <input type="text" class="form-control" id="imageUrl" name="imageUrl" [(ngModel)]="category.imageUrl">  
      </div>  
      	<button type="button" class="btn btn-success" (click)="add()">Add</button>  
    	<button type="button" class="btn btn-success" (click)="goBack()">go back</button>
</div>  
